html, body{
    background-image: url(image/body.jpg);
    width: 100%;
    max-width: 100vw;
    padding:auto;
    margin: 0;
    height: 100%;
}


.corpo {
   
    background-size:cover;  
    
}

.cabecalho {
    background-image: url(image/cabecalho.jpg);
    margin: 0;
    height: 450px;
    width: 1200;
    background-position: right center;
    padding: auto;
}

.ul-seletions{
    list-style: none;
    display: flex;
    justify-content:space-around; 
}


.title-h1 { 
    text-align: center;
    color: red;
    text-shadow:72px 1px 22px black ; 
    font-family: sans-serif;
    position: relative; 
    background-color: black;
    margin: 10px;
}

.subtitle-h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    text-shadow:72px 1px 22px rgb(226, 221, 221) ;
    font-size:18px;
}

.title-section-2 {
      text-align: center;
      background-color: black;
      color: rgb(202, 26, 26) ;
      margin:0;
      
}

.section-1 {
    width:auto;
    margin: 12px;
    background-color:#ccc ;
    color: rgb(114, 202, 26);
    height: auto;
}

.section-2 {
    width: 1200PX;
    margin: auto;
    background-color: #ccc;
    height:132px;
    font-family: sans-serif;
}

   

.h3-section-background{
    width: 500px;
    margin: auto;
}

.h3-section-2 {
    color: red;
    background-color: black;
    font-family: sans-serif;
    text-align: center;
}

.h3-paragraf {
      font-family: Verdana, Geneva, Tahoma, sans-serif; 
      font-size: 12px;
      text-indent: 50px;

}

.section-3{
    width: 1200PX;
    margin: auto;
    background-color: #ccc;
    height:132px;
    font-family: sans-serif;
}

.h4-section-background{
    width: 500px;
    margin: auto;
}

.h4-section-3{
    color: red;
    background-color: black;
    font-family: sans-serif;
    text-align: center;
}

.h4-paragraf{
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 12px;
    text-indent: 50px;
}


.section-4{
    width: 1200PX;
    margin: auto;
    background-color: #ccc;
    height:132px;
    font-family: sans-serif;
}

.h5-section-background{
    width: 500px;
    margin: auto;
}

.h5-section-3{
    color: red;
    background-color: black;
    font-family: sans-serif;
    text-align: center;
}

.h5-parafraf{
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 12px;
    text-indent: 50px;
}



.list{
    display: flex;
     list-style: none;
     justify-content: space-around;

}

.text-img1 {
    text-align: center;
    background-color: black;
    color: rgb(114, 202, 26) ;
    
}

.text-img2{
    text-align: center;
    background-color: black;
    color: rgb(114, 202, 26) ;
}

.text-img3{
    text-align: center;
    background-color: black;
    color: rgb(114, 202, 26) ;
}

footer{
    color: rgb(27, 56, 153);
    text-align: center;
    text-shadow: 500px 500px 500px 500px rgb(189, 12, 12);
}

